:root{
  --main-width: 975px;
  --bg-clr: #fafafa;
  --home-mx-width: 935px;
}

.Home{
  max-width: var(--home-mx-width);
  width: var(--home-mx-width);
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (max-width: 950px){
  :root{
    --home-mx-width: 100vw;
  }
}